.layout-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titlecontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* Ensure a row layout */
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-between;
    /* Put items at each end of the container */
}

header {
    background-color: #377bbf;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: left;
}

.user-info-container {
    display: flex;
    justify-content: flex-end;
    /* 아이템을 오른쪽으로 정렬합니다. */
}

main {
    padding: 20px;
}

footer {
    background-color: #377bbf;
    color: #ecf0f1;
    text-align: center;
}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #3498db;
    /* Change border color to a lighter blue */
    border-radius: 5px;
    outline: none;
    /* Remove the default input focus outline */
    transition: border-color 0.3s ease;
    /* Add transition for smoother effects */
}

input:focus {
    border-color: #2980b9;
    /* Change border color on focus */
}

button {
    background-color: #47c82d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #16831b;
    transform: scale(1.05);
}

.error-msg {
    color: red;
    font-size: 18px;
    text-align: left;
}

p {
    padding: 0px 20px;
    text-align: left;
    font-size: 25px;
    margin: 0;
}